<div class="vote">
  <i class="glyphicon glyphicon-chevron-up" {{action 'upvote' answer}}></i>
  <span class="label label-primary">{{answer.votes }}</span>
  <i class="glyphicon glyphicon-chevron-down" {{action 'downvote' answer}}></i>
</div>
