<div class="individual-questions">
  <h1>{{question.content}}</h1>
  <h6>{{question.author}}</h6>
  <p>{{question.notes}}</p>
</div>
{{edit-question updateQuestion1="updateQuestion1" question=question}}
