<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        {{#link-to 'index'}}<img class="nav-content logo" src="/assets/images/qalogog.png" alt="logo" />{{/link-to}}
        <h4 class="nav-content">Q&amp;A Forum</h4>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
