<h1 class="heading">Welcome to the Q &amp; A Forum</h1>

<h1>Questions:</h1>
<div class="questions">
  {{#each model.questions as |question|}}
  <h2>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h2>
  <h6>{{question.author}}</h6>
  {{/each}}
</div>

{{add-question saveQuestion2="saveQuestion3"}}
