<h1>{{question.content}}</h1>
{{question-tile question=model}}
{{add-answer saveAnswer2="saveAnswer3" question=model}}

<div class="answers">
  <h1>Answers</h1>
  <div class="individual-answer">


  </div>

</div>
  
